<div id="top">
    <h2 class="top">50% &rarr; Local Non-Profits</h2>
    <h2 class="bottom">50% &rarr; Local Businesses</h2>
    <p class="description">We want to do our part to support the places and faces of our community. Stimulus checks from the federal government are on their way to Americans. The #StimulusChallenge encourages people to use their stimulus checks to support non-profits and small businesses in their local community.</p>
</div>
<div id="message">
    <div class="arch"></div>
    <a href="/"><div class="lightLogo" ></div></a>
    <div>
        <h2>Thanks for taking the #StimulusChallenge!</h2>
        <p>We'd love to see how you're supporting local on social media.  Use #StimulusChallenge and help us get the word out.</p>
    </div>
</div>
<div id="shareSection">
    <div id="share">
        <div class="leftSide">
            <h3>Share the #StimulusChallenge</h3>
            <div class="sharingButtons">
                <div class="fb-share-button" data-href="https://www.stimuluschallenge.us/" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.stimuluschallenge.us%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=I%20just%20supported%20my%20local%20community%20by%20taking%20part%20in%20the%20%23StimulusChallenge%21%20Join%20me%21%20stimuluschallenge.us&hashtags=StimulusChallenge,GiveLocal" data-size="large">Tweet</a>
            </div>
        </div>
        <img src="../../assets/SocialImage.png" alt="Share #StimulusChallenge on social Media" />
    </div>
</div>
