<div id="section1" *ngIf="!resultSuccess">
  <h2>Give Local. Spend Local.</h2>
  <p>Together, let's show our local businesses and non-profits the support they deserve.</p>
  <a class="button" href="#donate">Pledge Now</a>
  <div class="dashboard">
    <div class="arch"></div>
    <div class="nonprofits">
      <p>Pledged to local non-profits</p>
      <h3>$300,560</h3>
    </div>
    <div class="smallBiz">
      <p>Pledged to small businesses</p>
      <h3>$300,560</h3>
    </div>
  </div>
</div>
<div id="section2" *ngIf="!resultSuccess">
  <h2 class="top">50% &rarr; Local Non-Profits</h2>
  <h2 class="bottom">50% &rarr; Local Businesses</h2>
  <p class="description">We want to do our part to support the places and faces of our community. Stimulus checks from the federal government are on their way to Americans. The #StimulusChallenge encourages people to use their stimulus checks to support non-profits and small businesses in their local community.</p>
</div>
<form id="donate" [formGroup]="pledgeForm" *ngIf="!resultSuccess">
  <div class="arch"></div>
  <img class="lightLogo" src="../assets/WhiteLogo.png" alt="Stimulus Challenge Logo" />
  <div class="box">
    <div class="inputGroup">
      <label for="name">What is your name?</label>
      <input id="name" type="text" placeholder="Jane Smith" formControlName="name"/>
    </div>
    <div class="inputGroup">
      <label for="location">Where do you live?</label>
      <input id="location" type="text" placeholder="ZIP Code" required="true" minlength="5" maxlength="5" formControlName="zip"/>
    </div>
    <div class="inputGroup">
      <label for="nonprofitDonation">How much are you donating to local non-profits?</label>
      <input id="nonprofitDonation" type="number" placeholder="$$$" min="0" step="1" formControlName="nonProfits"/>
    </div>
    <div class="inputGroup">
      <label for="smallBizSpend">How much are you committing to local small businesses?</label>
      <input id="smallBizSpend" type="number" placeholder="$$$" min="0" step="1" formControlName="smBiz"/>
    </div>
    <button (click)="makePledge()">Make Pledge</button>
  </div>
  <p class="disclaimer">We will not be collecting or distributing any money, this is your personal commitment to fulfill.</p>
</form>
<div id="section4" *ngIf="!resultSuccess">
  <div class="graphic"></div>
  <div id="share">
    <h3>Share the #StimulusChallenge</h3>
    <p>Give Local. Spend Local. graphic goes here</p>
  </div>
</div>
<div id="result" class="tableBody" *ngIf="resultSuccess">
  <div class="tableRow">
    <div class="tableCell thanks">
      <h2>Thanks for taking the #StimulusChallenge!</h2>
      <p>We'd love to see how you're supporting local on social media.  Use #StimulusChallenge and help us get the word out.</p>
      <div class="sharing">
        <div class="fb-share-button" data-href="https://www.stimuluschallenge.us/" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.stimuluschallenge.us%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
      </div>
      <button>Share &rarr;</button>
    </div>
    <div class="tableCell giveSpendImg">
      <p>'Give Local. Spend Local.' image goes here</p>
    </div>
  </div>
</div>
<div id="footer">
  <div>
    <div class="credits">
      <p>Contributors:</p>
      <ul>
        <li><a href="https://www.linkedin.com/in/marshallweil/" target="_blank" title="Vice Cat Herder">Marshall Weil</a></li>
        <li><a href="https://www.linkedin.com/in/gisselle-pereira-5b915b47/" target="_blank" title="Cat Herder">Gisselle Pereira</a></li>
        <li><a href="https://www.linkedin.com/in/meghannnaveau/" target="_blank" title="Copywriter">Meghann Naveau</a></li>
        <li><a href="https://www.linkedin.com/in/elijah-knapp-33859838/" target="_blank" title="Designer">Elijah Knapp</a></li>
        <li><a href="https://www.linkedin.com/in/krishatcher/" target="_blank" title="Developer">Kris Hatcher</a></li>
        <li><a href="https://www.linkedin.com/in/gregory-gerken/" target="_blank" title="Designer">Gregory Gerken</a></li>
        <li><a href="https://www.linkedin.com/in/nckhrkman/" target="_blank" title="Copywriter">Nick Hrkman</a></li>
      </ul>
    </div>
    <div class="madewith">
      <p>Made with love<br />by the community<br />in Dayton, OH</p>
    </div>
    <div class="partnership">
      <p>In Partnership With:</p>
      <a href="https://cantstopdyt.com/" target="_blank"><img src="../assets/CSD_Logo.jpg" alt="Can't Stop Dayton"/></a>
    </div>
  </div>
</div>
