
<router-outlet></router-outlet>

<div id="footer">
  <div>
    <div class="credits">
      <p>Contributors:</p>
      <ul>
        <li><a href="https://www.linkedin.com/in/gisselle-pereira-5b915b47/" target="_blank" title="Cat Herder">Gisselle Pereira</a></li>
        <li><a href="https://www.linkedin.com/in/marshallweil/" target="_blank" title="Vice Cat Herder">Marshall Weil</a></li>
        <li><a href="https://www.linkedin.com/in/meghannnaveau/" target="_blank" title="Copywriter">Meghann Naveau</a></li>
        <li><a href="https://www.linkedin.com/in/elijah-knapp-33859838/" target="_blank" title="Designer">Elijah Knapp</a></li>
        <li><a href="https://www.linkedin.com/in/krishatcher/" target="_blank" title="Developer">Kris Hatcher</a></li>
        <li><a href="https://www.linkedin.com/in/gregory-gerken/" target="_blank" title="Designer">Gregory Gerken</a></li>
        <li><a href="https://www.linkedin.com/in/nckhrkman/" target="_blank" title="Copywriter">Nick Hrkman</a></li>
      </ul>
    </div>
    <div class="madeWith">
      <p>Made with love<br />by the community<br />in Dayton, OH</p>
    </div>
    <div class="partnership">
      <p>In Partnership With:</p>
      <a href="https://cantstopdyt.com/" target="_blank"><img src="../assets/CSD_Logo.jpg" alt="Can't Stop Dayton"/></a>
    </div>
  </div>
</div>