

<div id="qna">
    <a routerLink="/landing" routerLinkActive="active" class="backToPledge">&larr; Back to Pledging</a>
    <h2>Frequently Asked Questions</h2>
    <ul>        
        <li class="question">
            Where will the money go?
        </li>
        <li class="answer">
            Wherever you spend it. We collect commitments, not money. If you participate in the #StimulusChallenge, it is still your responsibility to spend or donate the money. We would love for you to share the small businesses and local non-profits you are supporting via social media, and tag us!
        </li>
        <li class="question">
            Can you put together a list of non-profits and small businesses?
        </li>
        <li class="answer">
            As we grow the website, this continues to be something we consider. As a national campaign, it is hard to consider every corner of the country, and we would hate to leave out a small business or local non-profit that is doing cool and important things. If you need ideas, check out the #StimulusChallenge hashtag to see where others are donating.
        </li>
        <li class="question">
            What if I don’t feel comfortable sharing my financial information?
        </li>
        <li class="answer">
            That’s fine! We don’t want it. The #StimulusChallenge only collects commitments. It is your responsibility to spend the money on your own. As far as the other information you submit like your name or email, none of it will be shared.
        </li>
        <li class="question">
            How do you know people will do what they say they are going to do?
        </li>
        <li class="answer">
            We don’t, but in a world where there are plenty of things to be skeptical about, we decided to trust folks on this one.
        </li>
        <li class="question">
            I am not in Dayton, Ohio. Can I still participate in the challenge?
        </li>
        <li class="answer">
            Yes. This was made by folks in Dayton, but it is for everyone and anyone who might receive a stimulus check.
        </li>
        <li class="question">
            What do I do if I am having problems submitting my pledge?
        </li>
        <li class="answer">
            Please let us know using the Contact Us form. (coming soon)
        </li>
        <li class="question">
            I already spent my check. Can I participate?
        </li>
        <li class="answer">
            Absolutely! Did you spend any of that check with small businesses or local non-profits? Put that amount in the pledge form. We would love to capture your generosity.
        </li>
        <li class="question">
            I don’t qualify for a check. How can I help?
        </li>
        <li class="answer">
            You can help in two ways. First, if you would like to pledge some of your own money toward the challenge, go for it! Second, share the challenge. We need everyone’s help in getting the word out.
        </li>
        <li class="question">
            Why do you need my zip code?
        </li>
        <li class="answer">
            As an add-on to the website, we hope to have a map showing all of the places across the country that people have participated.
        </li>
    </ul>
    <a routerLink="/landing" routerLinkActive="active" class="backToPledge">&larr; Back to Pledging</a>
</div>